@model OurHotels.Dto.Hotel.HotelDto

@{
    ViewData["Title"] = "Edit";
}
@{
    Layout = "_AdminLayout";
}
<h2>Edit Hotel</h2>

<form method="post" asp-action="Edit">
    <div asp-validation-summary="ModelOnly" class="text-danger" ></div>
    @Html.HiddenFor(m => m.HotelEntityId)
    <div class="form-group">
        <label asp-for="HotelName"></label>
        <input asp-for="HotelName" class="form-control" />
        <span asp-validation-for="HotelName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="ManagerName"></label>
        <input asp-for="ManagerName" class="form-control" />
        <span asp-validation-for="ManagerName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="HotelAddress"></label>
        <input asp-for="HotelAddress" class="form-control" />
        <span asp-validation-for="HotelAddress" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="City"></label>
        <input asp-for="City" class="form-control" />
        <span asp-validation-for="City" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="State"></label>
        <input asp-for="State" class="form-control" />
        <span asp-validation-for="State" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Phone1"></label>
        <input asp-for="Phone1" class="form-control" />
        <span asp-validation-for="Phone1" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Phone2"></label>
        <input asp-for="Phone2" class="form-control" />
        <span asp-validation-for="Phone2" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="ManegerPhone"></label>
        <input asp-for="ManegerPhone" class="form-control" />
        <span asp-validation-for="ManegerPhone" class="text-danger"></span>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Save</button>
        <a asp-action="Index" class="btn btn-secondary">Cancel</a>
    </div>
</form>
