<div class="row">
    <div class="col-6">
        <input type="submit" asp-controller="Admin" asp-action="CreateC" class="btn btn-primary form-control text-white" value="Create" />
    </div>
    <div class="col-6 ">
        <a asp-action="Index" class="btn btn-success form-control text-white ">Back To List </a>
    </div>
</div>