@model int
<div class="row">
    <div class="col-6">
        <input asp-action="Edit"  type="submit" class="btn btn-primary form-control text-white" value="Update" />
    </div>
    <div class="col-6 ">
        <a asp-action="Index" class="btn btn-success form-control text-white ">Back To List </a>
    </div>
</div>